.formContainer {
    background-color: #FFFFFF;
    margin: 32px auto;
    padding: 20px;
    max-width: 510px;
    height: auto;
    border-radius: 5px;
    box-shadow: -1px 1px 14px rgb(0 0 0 / 19%);
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;
}

.formTitle {
    text-align: center;
}

.form input {
    height: 35px;
    border-radius: 5px;
    margin: 0 0 16px 0;
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, 0.15)
}

.form .errorMsg {
    margin: 0;
    font-size: 14px;
    color: #f93f03;
}

.form button {
    background-color: #2a728e;
    border: none;
    border-radius: 10px;
    height: 30px;
    width: 50%;
    align-self: center;
    color: #FFFFFF;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 10px;
}

.form button:hover {
    background-color: #516d7d;
}

.deleteButton {
    background-color: #f93f03;
    border: none;
    border-radius: 10px;
    height: 30px;
    width: 50%;
    margin: auto;
    color: #FFFFFF;
    font-weight: 700;
    cursor: pointer;
}

.message {
    color: #FFFFFF;
    font-size: 30px;
    margin: 32px 0;
    text-align: center;
}

@media (max-width: 600px) {
    .formContainer {
        margin: 32px 10px;
    }
}
